# Meta-repo: ignore everything by default
/*

# Allow these meta files/folders in the root of this repo
!/.gitignore
!/README.md
!/development.code-workspace
!/.github/        # (only if you want org-wide templates here)
